* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg-desktop.png");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-color: hsl(229, 57%, 11%);
    background-position-y: bottom;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

p {
    color: white;
    font-weight: 400;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
}

img {
    display: block;
}

.first-card {
    width: 20%;
    padding: 30px;
    margin: 0 20px;
    border-radius: 10px;
    border-top-right-radius: 80px;
    background-color: hsl(228, 56%, 26%);
}

.first-card .header img {
    width: 120px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
}

.icon {
    padding: 10px;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(229, 57%, 11%);
}

/* ---------------------------------- */

.bold {
    font-weight: 700;
}

.second-card {
    width: 35%;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    background-color: hsl(228, 56%, 26%);
}

.second-card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range {
    width: 100%;
    height: 20px;
    padding: 3px 3px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: hsla(229, 57%, 11%, 0.788);
    display: flex;
    align-items: center;
}

.range .load {
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.range .load .circle {
    width: 10px;
    height: 80%;
    margin-right: 3px;
    border-radius: 50%;
    background-color: white;
}

.badge {
    position: absolute;
    top: -25%;
    right: 30px;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    text-align: center;
    background-color: white;
}

.badge p {
    color: hsl(229, 57%, 11%);
    font-size: 8pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge .large {
    padding-right: 5%;
    font-weight: 700;
    font-size: 24pt;
}

.triangle {
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
}

/* ---------------------------------- */

@media screen and (max-width: 1080px) {
    body {
        background-image: url(../images/bg-mobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    main {
        display: block;
        width: 300px;
    }

    .first-card, .second-card {
        width: 100%;
        margin: 20px 0;
    }

    .second-card {
        padding-bottom: 40px;
    }

    .badge {
        width: 50%;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-bottom-right-radius: 10px;
    }

    .triangle {
        display: none;
    }
}